/************************/
/*  General Settings    */       
/************************/

/* Color Defenition */
:root {
    --primary: #0086D9;
    --primary-light: #0CD4F0;
    --secondary: #0C5CF0;
	--tertiary: #0BE6C4;
    --gradient: linear-gradient(to right, #0BE6C4, #0CD4F0);
}

/* General Styles */
body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    /* background-color: #AAAAAA; */
    /* background-image: url('../images/pattern.png'); */
}

h1 {
    font-size: 60px;
    font-weight: 500;
}

button {
    font-family: sans-serif;
}

p,
ul,
h4 {
	margin: 0;
	padding: 0;
}


#mainheader {
    background-color: #a593c2;
    display: flex;
}

/* Sections Background */
.home,
.about,
.kitesurfing,
.location {
    background-color: var(--primary-light);
}

.projects,
.hobies,
.contact {
    background-color: var(--primary);
}

/* Gradient and background of icons */
.navbar-nav a:hover,
.footer a:hover,
.footer .fab:hover {
    cursor: pointer;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/****************/
/*  Sections    */
/****************/

/* Navigation */
.navbar {
    transition: all 0.4s;
    padding-top: 2rem;
    background-color: var(--primary);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.025);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1rem;
}

.navbar.top-nav-collapse {
    padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: var(--primary);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
}

/* Left side of navbar */
.navbar .navbar-brand {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* TODO: add logo image */
.navbar .logo-image img {
	width: 100px;
	height: 30px;
}

.navbar .logo-text {
	/* color: #fff; */
	font-weight: 500;
	line-height: 1rem;
	font-size: 2.5rem;
	text-decoration: none;
}

/* Carousel */
/* .carousel {
    width: 640px;
    height:360px;
} */


/**************************/
/*  Back to Top Button    */
/**************************/

#myBtn {
	z-index: 99;
	right: 20px;
	width: 52px;
	height: 52px;
	bottom: 20px;
	border: none;
	outline: none;
	display: none;
	position: fixed;
	cursor: pointer;
	border-radius: 50%;
	background-color: #323137;
}

#myBtn:hover {
  	background-color: #0f0f11;
}

#myBtn img {
	width: 18px;
	margin-left: 0.125rem;
	margin-bottom: 0.25rem;
}